@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Gluten:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("../img/fundodarkgrande.jpeg") no-repeat top center/cover; /*comandos para fazer com que não se repita e a imagem de fundo ocupe todo o espaço desejado*/
    height: 100vh;
}

body * {  /*quando tiver o body * ele seleciona o corpo todo para as propriedades colocadas*/
    color: white;
}

p {
    font-family: "Gluten", cursive;
}

a {
    text-decoration: none; /*comando para remover underlines dos icons adicionados*/
}

#container {
    width: 100%;
    max-width: 580px; /*define o tamanho maximo da largura do elemento*/
    margin: 50px auto;
    padding: 0 25px;
    /*background-color: rgb(54, 32, 32);/*para ver as propriedades sendo aplicadas*/
}

#profile {
    text-align: center;
    padding: 24px;
}

#profile img {
    width: 112px;
}

#profile p {
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
}

#switch {
    position: relative;
    width: 64px;
    margin: 4px;
}

#switch button {
    width: 32px;
    height: 32px;
    background: white url(../img/moon-stars.svg) no-repeat center;
    border: 0;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translate(-50%);
    animation: slide-back 0.2s;
}

.light #switch button {
    animation: slide-in 0.2s forwards;
    background: white url(../img/sun.svg) no-repeat center;
}

#switch button:hover {
    outline: 8px solid rgba(255, 255, 255, 0.2);
}

#switch span {
    display: block;
    width: 64px;
    height: 24px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(4px);
    border-radius: 9999px;
}

.light #switch span {
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.5);
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0;
}

ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 16px 24px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    text-decoration: none;
    font-weight: 500;
    transition: background 0.2s;
}

ul li a :hover {
    background: rgba(0, 0, 0, 0.02);
    border: 1.5px solid white;
}

.light ul li a {
    background: rgba(0, 0, 0, 0.05);
    border: 1.5px solid rgba(0, 0, 0, 0.5);
}

.light ul li a {
    background: rgba(0, 0, 0, 0.02);
    border: 1.5px solid black;
}

#social-links {
    display: flex;
    justify-content: center;
    padding: 24px 0;
    font-size: 24px;
}

#social-links a {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    transition: background 0,2s;
    border-radius: 50%;
}

#social-links a:hover {
    background: rgba(255, 255, 255, 0.2);
}

.light #social-links a:hover{
    background: rgba(0, 0, 0, 0.1);
}

footer {
    padding: 24px 0;
    text-align: center;
    font-size: 14px;
}

.profile-photo {
    border-radius: 50%;
    border: 3px solid #FF5627;
}

.light .profile-photo {
    border: 3px solid #4B55EA;
}

.light a, .light p, .light ion-icon {
    color: black;
}

@media (min-width: 700px) {
    body {
        background: url(../img/fundodarkgrande.jpeg) no-repeat top center/cover;
    }
    .light body {
        background: url(../img/fundolightgrande.jpeg) no-repeat top center/cover;
    }
}

@keyframes slide-in {
    from {
        left: 0;
    }
    to {
        left: 50%;
    }
}

@keyframes {
    from {
        left: 50%;
    }
    to {
        left: 0;
    }
}









/* .perfil img {
    width: 280px;
    border-radius: 200px 200px 200px 200px; /*para arredondar uma imagem
}*/

/* .perfil {
    text-align: center;
    padding: 25px 0;
} */ 

/*colocando assim posso alterar as propriedades de mais de uma tag/  não tem problema colocar a dnv
p, footer, a {
    color: white;
}*/


